* {
  box-sizing: border-box;
}

body {
  background: #2b5488;
  margin: 0px;

}

#header-container-area {
  display: none;
}


.main-container-area {
  background: white !important;
  /* border-radius: 30px; */
  height: 100vh;
  padding: 1rem;

}

@media (min-width: 40rem) {
  #header-container-area {
    display: block;
    height: 9.125rem;
    width: 42rem;
    margin: 0 auto;
  }

  #branding {
    color: white;
    font-weight: 300;
    font-size: .8rem;
  }

  .main-container-area {
    margin: 0 auto;
    border: 1px solid #2b5488;
    /* padding: 8rem; */
    background: white !important;
    height: 30rem;
    width: 42rem;
    border-radius: 6px;
  }

  .org {
    font-size: 1.25rem;
    ;
    margin-top: 3rem;
    color: white;
    display: inline-block;
  }

  .org-name {
    font-size: 2rem;
    ;
    font-weight: 600;
    margin-top: 1.5rem;
  }

  .example.example4 button:active {
    background: #29a0cc;
    opacity: .8;
  }

}