<div class="center">
    <mat-card class="basic-card">

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input autocomplete="off" [(ngModel)]="email" type="email" matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input autocomplete="off" [(ngModel)]="password" type="password" matInput placeholder="Password">
        </mat-form-field>

        <div class="container-div">
            <button mat-button (click)="loginUser()" class="login-signup">login</button>
        </div>

    </mat-card>
</div>

<div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
    <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
</div>