<ion-header>
  <ion-toolbar>
      <ion-title>
          Ionic Blank
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form action="/charge" method="post" id="payment-form">
      <div class="form-row">
          <label for="card-element">
              Credit or debit card
          </label>
          <div id="card-element">
              <!-- a Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors -->
          <div id="card-errors" role="alert"></div>
      </div>

      <input type="submit" class="submit" value="Submit Payment">
  </form>
</ion-content>