<div class="container-div">
    <button mat-button (click)="logout()" class="login-signup">log out</button>
</div>
<hr>

<!-- Query for all robots -->
<div *ngFor="let robot of robots">
    <span>Name: {{ robot.name }},</span> <span>Age: {{ robot.age }}</span>
</div>
<hr>

<!-- Query for 1 robot -->
<div *ngIf="currentRobot">
    <span>Name: {{ currentRobot.name }},</span> <span>Age: {{ currentRobot.age }}</span>
</div>
<hr>

<!-- Images -->
<span *ngFor="let image of images">
    <img mat-card-image src={{image.url}} class="constrain-image">
</span>